/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  font-family: Lato;
  font-weight: 400;
  font-size: 25px;
  color: #000;
}

img {
  border:0; /* kills Gecko bug when img's are placed inside links */
  vertical-align:bottom; /* set vertical align to bottom for IE */
}

/* Table */
table {
  text-align: center; 
}

th {
  top: 0;
  position: sticky;
  background-color: #EAEAEA !important;
}

td {
  background-color: #EAEAEA !important;
  color: #5F5F5F !important;
}

tbody tr th {
  width: 100px !important;
}

td:last-child {
  width: 100px !important;
}

#main {
  background-color: #EAEAEA;
}

.modak {
  font-family: Leto !important;
}

.table-responsive {
  max-height: 600px;
  min-height: 400px;
}

td:nth-child(2) {
  padding-right: 0 !important;
  width: 300px;
}

td:nth-child(3) {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 300px;
}

td:nth-child(4) {
  padding-left: 0 !important;
  width: 300px;
}

tr:hover td:nth-child(2) {
  padding-right: 10px !important;
}

tr:hover td:nth-child(3) {
  padding-right: 10px !important;
}

tr:hover .t-container-1 {
  border-radius: 15px;
  border: 3px solid rgba(95, 95, 95, 0.50);
}

tr:hover .t-container-2 {
  border-radius: 15px;
  border: 3px solid rgba(95, 95, 95, 0.50);
}

tr:hover .t-container-3 {
  border-radius: 15px;
  border: 3px solid rgba(95, 95, 95, 0.50);
}

tr:hover .purple-btn-hover{
  cursor: pointer;
  background: #FC8DBB !important;
  border: 3px solid rgba(95, 95, 95, 0) !important;
  color: white;
}

tr:hover .grey-btn-hover{
  background: #5F5F5F80 !important;
  border: 3px solid rgba(95, 95, 95, 0) !important;
  color: white;
  cursor: default;
}

.grey-btn {
  background: #5F5F5F !important;
  border: 3px solid #5F5F5F !important;
  color: white;
  cursor: pointer;
}

.purple-btn {
  background: #FC8DBB !important;
  border: 3px solid #FC8DBB !important;
  color: #000;
  cursor: pointer;
}

.t-container-1 {
  border-radius: 15px 0 0 15px;
  border: 3px solid rgba(95, 95, 95, 0.50);
  border-right: none;
  background: #FFF;
  padding: 10px;
}

.t-container-2 {
  border: 3px solid rgba(95, 95, 95, 0.50);
  border-right: none;
  background: #FFF;
  padding: 10px;
}

.t-container-3 {
  border-radius: 0 15px 15px 0;
  border: 3px solid rgba(95, 95, 95, 0.50);
  background: #FFF;
  padding: 10px;
}

/* Modal */
.modal-content {
  font-family: Leto !important;
  background: #EAEAEA !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-body {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

#fee-recipient {
  padding: 10px;
  border-radius: 10px;
  background: var(--Buttons-CTAs, #B84B9A);
  color: white;
  font-family: Cherry Bomb !important;
  cursor: pointer;
}

.subscriber-box {
  border-radius: 15px;
  border: 3px solid rgba(95, 95, 95, 0.50);
  background: #FFF;
  color: #5F5F5F;
  font-family: Cherry Bomb !important;
}

.disclaimer {
  font-family: Roboto Serif !important;
  color: #5F5F5F;
}

/* Global */

.title {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.secondary {
  font-weight: 500;
  color: #000;
}

.icon {
  margin-right: 10px;
  width: 23px;
  height: 23px;
  text-align: center;
}

.align-right {
  margin-left: auto;
}

#footer {
  padding: 50px;
}

#main {
  padding: 50px;
}

#logo {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Modak;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#logo img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

.link {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}

.link a {
  color: #000;
}

.link:hover {
  text-decoration: underline;
}

.t-head {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps; 
}

.ft-number {
  text-align: center;
  leading-trim: both;
  text-edge: cap;

  /* Cell/Desktop */
  font-family: Cherry Bomb;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ft-text {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Lato !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.info-1 {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 58px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid #FC8DBB;
  color: #FC8DBB !important;
}

.info-2 {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 58px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #FC8DBB;
  color: #FFFFFF;
}

.no-white-space {
  white-space: nowrap;
}

#navbarNav {
  margin-left: 60px;
}

#claim-btn {
  cursor: pointer;
  padding: 10px;
}

#claim-btn h1 {
  margin-top: 15px;
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Modak;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#claim-btn:hover {
  border-radius: 10px;
  background: white;
  filter: invert(1);
}

#mobile-banner {
  padding-left: 60px;
  padding-right: 20px;
}

/* Medium queries */
@media (max-width: 1200px) {
  #logo {
    font-size: 30px;
  }

  #logo img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  #main {
    padding: 25px;
  }

  #footer {
    padding: 25px;
    justify-content: center;
  }

  #banner-bt {
    justify-content: center !important;
  }

  #claim-btn {
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    filter: invert(1);
  }
}

/* Bootstrap md */
@media (max-width: 991px) {
  #mobile-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

/* Small queries */
@media (max-width: 600px) {
  #logo span {
    display: none;
  }

  #logo img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }

  #footer span {
    font-size: 15px;
    font-weight: 500px;
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  #claim-btn {
    padding: 25px;
  }

  #status-info {
    display: none !important;
  }

  #claim-btn {
    margin: 20px;
  }

  thead th:nth-child(3) {
    display: none !important;
  }

  tbody td:nth-child(2) {
    display: none !important;
  }
}

